apiVersion: v1
kind: Secret
metadata:
  name: saas-secret
  labels:
    app: saas-app
type: Opaque
stringData:
  JWT_SECRET: "sua_chave_jwt_secreta_com_minimo_32_caracteres"
  SPRING_DATASOURCE_USERNAME: "saas_user"
  SPRING_DATASOURCE_PASSWORD: "sua_senha_do_postgres_na_vps"

